.branchMetricsContainer {
	margin: 0 0 5% 0;
	background-color: #29A0B1;
	border-radius: 5px;
	margin-inline: 10%;
	border: 1px solid red;
}

.branchNamesContainer {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style-type: none;
	border-radius: 5px;
	border: 1px solid blue;
}


.branchName {
	text-align: center;
	padding: 5px 0 5px 0;
	border: 1 px solid purple;
	border-radius: 10px;
	font-family: 'consolas';
	font-size: larger;
	width: 100%;
}

.selected {
	background-color: #29A0B1;
	border-top: 1px solid #000;
}

.unselected {
	cursor: pointer;
	background-color: #98D7C2;
	border: 1px solid rgba(0, 0, 0, 0.5);
}

.unselected:hover {
	background-color: #167D7F
}