.mainContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	margin: 0 8% 5% 8%;
}

.infoContainer {
	display: flex;
	gap: 10%;
}

.contributorsList {
	display: inline-grid;
	grid-template-columns: 1fr 1fr 1fr;
	list-style-type: none;
	gap: 10px;
	margin: 0;
	padding-inline: 5px;
	border-top: 1px solid grey;
}

.contributor {
	padding: 0;
	margin: 0;
}

.repoName {
	font-size: 1.7em;
	color: #29A0B1;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

.repoOwner {
	font-size: medium;
	margin: 0;
	border-top: 1px solid grey;
}

.detailsText {
	font-family: 'consolas';
}

.detailsLabel {
	color: grey;
	font-size: small;
	margin: 0;
}

.labelAndDetailsContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}