.searchContainer {
	margin-top: 2%;
	margin-inline: 25%;
	border: 1px solid black;
	margin: 2% 25% 2% 25%;
}

.searchInput {
	width: 90%;
	height: 2em;
	font-family: "consolas";
	font-size: larger;
}

.searchSubmit {
	height: 2em;
	width: 10%;
	color: #29A0B1;
	background-color: white;
	font-weight: bold;
	font-family: "consolas";
	font-size: larger;
	cursor: pointer;
}

::placeholder {
	font-family: "consolas";
	font-size: large;
}